.footer {
  height: 130px;
  width: 100%;
  background-color:whitesmoke;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lang {
  display: flex;
  padding: 10px 20px;
  color: gray;
  opacity: 0.9;
  border-bottom: grey solid 2px;

}
.lang-list {
  padding: 12px;
}
.contact {
  color: gray;
  padding-top: 8px;
  
}
.footer-logo {
  display: flex;
  justify-content: center;
}
.footer-title {
  font-size:28px;
  padding-right: 20px;
  margin-right: 40px;
}
