 <div class="footer">
  <div class="footer-content">

    <div class="langege">
    <ul class="lang">
    <li class="lang-list">言語：</li>
    <li class="lang-list">English</li>
    <li class="lang-list">简体中文</li>
    <li class="lang-list">繁体中文</li>
    <li class="lang-list">한국어</li>
    </ul>
    </div>

    <div class="footer-logo">
    <div class="footer-title">
       ©TAMA RA-MEN
    </div>

    <div class="contact">
    お問い合わせ
    </div>
    </div>
  </div>
</div><!--footer--> 
