// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-main {
  height: 700px;
  width: 100%;
  
}

.user-header {
  height: 300px;
  width: 100%;
}
.user-header-area {
  position: relative;
}

.user-contents-left {
  position: absolute;
  top: 80px;
  left: 650px;
  width: 30%;
  height: 180px;
  border: lightgray solid 2px;
  padding: 20px;
}


.user-avatar {
  margin-left: 360px;
  margin-bottom: 10px;
}

#image-content {
  width: 250px;
  height: 250px;
}

.user-nickname {
  font-size: 20px;
  margin-left: 360px;
  margin-bottom: 18px;


}
.user-edit {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  padding: 16px 48px;
  margin-top: 16px;
}
.contents-item1 {
  margin-right: 24px;
}

.user-contents {
  height: 400px;
  background-color: rgb(250, 247, 230);
  display: flexbox;
}

.user-post-title {
  color: lightsalmon;
  font-size: 32px;
  margin-left: 100px;
  margin-bottom: 40px;

}

.review-rate {
  color: red;
  font-weight: bold;
  font-size: 20px;
}
