// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-main {
  // height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.user-header {
  height: 270px;
  width: 100%;
  background-color: rgb(250, 247, 230);
}
.user-header-area {  
   position: relative;
}

.user-contents-left {
  position: absolute;
  top: 1px;
  left: 550px;
  width: 30%;
  height: 180px;
  border: lightgray solid 2px;
  padding: 20px;
}


.user-avatar {
  margin-left: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

#image-content {
  width: 250px;
  height: 250px;
}

.user-nickname {
  font-size: 20px;
  margin-left: 300px;
  margin-bottom: 18px;
}
.contents-item1 {
  margin-right: 240px;
}


.user-contents {
  height: 70vh;
  display: flexbox;
}

.user-tab {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-post-title {
  color: lightsalmon;
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  // background-color: lightgoldenrodyellow;
  padding: 16px;
  cursor: pointer;


}

.review-rate {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.footer {
  margin-top: auto;
}